<p id="notice"><%= notice %></p>

<h1>Listing Effleurage Options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @effleurage_options.each do |effleurage_option| %>
      <tr>
        <td><%= effleurage_option.name %></td>
        <td><%= link_to 'Show', effleurage_option %></td>
        <td><%= link_to 'Edit', edit_effleurage_option_path(effleurage_option) %></td>
        <td><%= link_to 'Destroy', effleurage_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Effleurage option', new_effleurage_option_path %>
