
<div class="col-lg-10">
  <div class="form-group" id = "final-diagnosis">
    <%= l.label "Добавить диагноз в список уточненных диагнозов", :class => 'control-label col-lg-2' %>

        <%= l.collection_select(:diagnosis_id, Diagnosis.get_empty_list, :id, :name, {}, {:type => 'hidden', :multiple => false, :class => 'form-control', :id => 'final_select2'}) %>

        Установлен повторно: <%= l.check_box :seconsary %>
        <!-- <%= l.hidden_field :doctor_id, :value => @doctor.id  %>
        <%= l.hidden_field :patient_id, :value => @patient.id  %> -->
      </div>

  </div>
