
  <div class="form-group" id = "final-diagnosis">
    <%= l.label "Добавить диагноз в список уточненных диагнозов", :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= l.collection_select(:diagnosis_id, Diagnosis.all, :id, :name, {:include_hidden => false}, {:multiple => false, :class => 'form-control'}) %>
        Установлен повторно: <%= l.check_box :seconsary %>
        <!-- <%= l.hidden_field :doctor_id, :value => @doctor.id  %>
        <%= l.hidden_field :patient_id, :value => @patient.id  %> -->
      </div>

  </div>
