<%= form_for ([@doctor, @patient, @visit]), :html => { :class => "form-horizontal visit " } do |f| %>

  <% if @visit.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@visit.errors.count, "ошибок") %> возникли при сохранении:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @visit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :doctor_id, :value => @doctor.id  %>
  <%= f.hidden_field :patient_id, :value => @patient.id  %>

  <div class="form-group">
    <%= f.label :from, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :from_id, Specialist.all, :id, :name, {}, {:class => "form-control"} %>
    </div>
    <%=f.error_span(:complaints) %>
  </div>
  <div class="form-group">
    <%= f.label :complaints, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :complaints, @complaints_list, {}, {:class => 'form-control', :id => "complaints", :style => "width: 300px;", multiple: true} %>
    </div>
    <%=f.error_span(:complaints) %>
  </div>
  <div class="form-group">
    <%= f.label :an_morbi, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :an_morbi, :class => 'form-control' %>
    </div>
    <%=f.error_span(:an_morbi) %>
  </div>

  <div class = "accordion" id = "anamnesis-values">
    <div class = "accordion-group">
      <div class="form-group">
        <%= f.label :anamnesis, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <% AnamnesisType.all.includes(:anamnesis_names => :anamnesis_values).each do |type| %>
          <div class = "accordion-heading">
            <a class = "accordion-toggle btn" data-toggle = "collapse" href = <%= '#anamnesis' + type.id.to_s %> data-parent = "#anamnesis-values"> <%= type.name %> </a>
          </div>
          <div class = "accordion-body collapse" id = <%= "anamnesis" + type.id.to_s %>>
            <div class = "accordion-inner">
              <% AnamnesisName.all.each do |v| %>
                <% if AnamnesisName.find_by(:name => v.name, :anamnesis_type_id => type.id) %>

                    <% if type.name != v.name %><%= v.name %><% end %>

                    <% @values = AnamnesisName.find_by(:name => v.name, :anamnesis_type_id => type.id).anamnesis_values %>
                    <% if @values.any? && @values.count > 1 && @values.first != "" %>

                        <select style = "width: 100%" multiple="multiple" name="visit[anamnesis_visits][<%= v.id %>][anamnesis_value_id][]" id="visit_anamnesis_visits_<%= v.id %>_anamnesis_value_id" class = "form-control bug">

                          <%  AnamnesisName.find_by(:name => v.name, :anamnesis_type_id => type.id).anamnesis_values.each do |value| %>
                            <option value= <%= value.id %> > <%= value.name %> </option>
                          <% end %>

                        </select>

                      Дополнительно: <input type="text" name="visit[anamnesis_visits][<%= v.id %>][details]" id="visit_anamnesis_visits_<%= v.id %>_anamnesis_value_id" class = "form-control">
                    <% else  %>
                      <input style = "width: 100%" type="text" name="visit[anamnesis_visits][<%= v.id %>][details]" id="visit_anamnesis_visits_<%= v.id %>_anamnesis_value_id" class = "form-control">
                    <% end %>

                    <br>

                <% end %>

              <% end %>
            </div>
          </div>
          <!-- <hr> -->
        <% end %>

        <%=f.error_span(:general_state) %>
      </div>
    </div>
  </div>
</div>

  <div class="form-group">
    <%= f.label :constitution_option, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :constitution_option_id, ConstitutionOption.all, :id, :name, {}, {:class => "form-control"}  %>
    </div>
    <%=f.error_span(:allerg) %>
  </div>
  <div class="form-group">
    <%= f.label :general_state_option, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :general_state_option_id, GeneralStateOption.all, :id, :name, {}, {:class => "form-control"}  %>
    </div>
    <%=f.error_span(:general_state) %>
  </div>
  <div class="form-group">
    <%= f.label :postural_pose_option, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :postural_pose_option_id, PosturalPoseOption.all, :id, :name, {}, {:class => "form-control"}  %>
    </div>
    <%=f.error_span(:postural_pose) %>
  </div>
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :weight, options_for_select((1..500), :selected => 80), {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weight) %>
  </div>
  <div class="form-group">
    <%= f.label :height, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :height, options_for_select((10..250), :selected => 180), {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:height) %>
  </div>
  <div class="form-group">
    <%= f.label :temp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :temp, options_for_select((35.0..42.0).step(0.1).to_a, :selected => 36.6), {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:temp) %>
  </div>

  <div class = "accordion" id = "condition-values">
    <div class = "accordion-group">
      <div class="form-group">
        <%= f.label "Status praesens", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <% ConditionType.all.includes(:condition_names => :condition_values).each do |type| %>
          <div class = "accordion-heading">
            <a class = "accordion-toggle btn" data-toggle = "collapse" href = <%= '#condition' + type.id.to_s %> data-parent = "#condition-values"> <%= type.name %> </a>
          </div>
          <div class = "accordion-body collapse" id = <%= "condition" + type.id.to_s %>>
            <div class = "accordion-inner">
              <% ConditionName.all.each do |v| %>
                <% if ConditionName.find_by(:name => v.name, :condition_type_id => type.id) %>

                    <%= v.name %>

                    <% @values = ConditionName.find_by(:name => v.name, :condition_type_id => type.id).condition_values %>
                    <% if @values.any? && @values.count > 1 && @values.first != "" %>

                        <select style = "width: 100%" multiple="multiple" name="visit[condition_visits][<%= v.id %>][condition_value_id][]" id="visit_condition_visits_<%= v.id %>_condition_value_id" class = "form-control bug">

                          <%  ConditionName.find_by(:name => v.name, :condition_type_id => type.id).condition_values.each do |value| %>
                            <option value= <%= value.id %> > <%= value.name %> </option>
                          <% end %>

                        </select>

                      Дополнительно: <input type="text" name="visit[condition_visits][<%= v.id %>][details]" id="visit_condition_visits_<%= v.id %>_condition_value_id" class = "form-control">
                    <% else  %>
                      <input style = "width: 100%" type="text" name="visit[condition_visits][<%= v.id %>][details]" id="visit_condition_visits_<%= v.id %>_condition_value_id" class = "form-control">
                    <% end %>

                    <br>

                <% end %>

              <% end %>
            </div>
          </div>
          <!-- <hr> -->
        <% end %>

        <%=f.error_span(:general_state) %>
      </div>
    </div>
  </div>
</div>


  <div class="form-group ">
      <%= f.label :diagnosis, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10 well">
        <%= f.label :primary_diagnosis, :class => 'control-label ' %>
        <%= f.fields_for :primary_diagnosis_visits do |s| %>

          <%= s.collection_select(:primary_diagnosis_ids, Diagnosis.get_empty_list, :id, :name, {}, {:type => 'hidden', :multiple => true, :class => 'form-control', :id => 'primary_select2'}) %>
          <%= s.label "Дополнительно", :class => 'control-label ' %>
          <%= s.text_field :details, :class => 'form-control' %>
        <% end %>

      <hr>
      <%= f.label :concomitant_diagnosis, :class => 'control-label ' %>

        <%= f.fields_for :concomitant_diagnosis_visits do |s| %>

          <%= s.collection_select(:concomitant_diagnosis_ids, Diagnosis.get_empty_list, :id, :name, {}, {:type => 'hidden', :multiple => true, :class => 'form-control', :id => 'concomitant_select2'}) %>
          <%= s.label "Дополнительно", :class => 'control-label' %>
          <%= s.text_field :details, :class => 'form-control' %>
        <% end %>

      <hr>
      <%= f.label :complication_diagnosis, :class => 'control-label ' %>

        <%= f.fields_for :complication_diagnosis_visits do |s| %>

          <%= s.collection_select(:complication_diagnosis_ids, Diagnosis.get_empty_list, :id, :name, {}, {:type => 'hidden', :multiple => true, :class => 'form-control', :id => 'complication_select2'}) %>
          <%= s.label "Дополнительно", :class => 'control-label ' %>
          <%= s.text_field :details, :class => 'form-control' %>
        <% end %>

      <%=f.error_span(:diagnosis) %>
    </div>
  </div>

  <div class="form-group">

      <%= f.fields_for :treatments do |treatment| %>
        <%= render 'treatment_fields', :f => treatment %>
        <%= link_to_add_association 'ДОБАВИТЬ ЛЕЧЕНИЕ', f, :treatments %>
      <% end %>

    <%= f.error_span(:constitution_option_id) %>
  </div>

  <div class="form-group">

      <%= f.fields_for :medications do |medication| %>
        <%= render 'medication_fields', :f => medication %>
        <%= link_to_add_association 'ДОБАВИТЬ МЕДИКАМЕНТОЗНОЕ ЛЕЧЕНИЕ', f, :medications, {:class => "col-lg-10"} %>
      <% end %>

    <%= f.error_span(:constitution_option_id) %>
  </div>

  <div class="form-group">
    <%= f.label :consultation, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10 well">
      <%= f.fields_for :consultations do |s| %>
        <%= s.label "Специалисты", :class => 'control-label' %>
        <%= s.collection_select(:specialist_ids, Specialist.all, :id, :name, {:include_hidden => false}, {:multiple => true, :class => 'form-control '}) %>
        <%= s.label "Результаты прошлых назначений", :class => 'control-label' %>
        <%= s.text_field :result, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:patient_id) %>
  </div>
  <div class="form-group">
    <%= f.label :examination, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10 well">
      <%= f.fields_for :examination_result do |s| %>
        <%= s.collection_select(:examination_ids, Examination.all, :id, :name, {:include_hidden => false}, {:multiple => true, :class => 'form-control'}) %>
        <%= s.hidden_field :result, :value => ""  %>
        <%= s.hidden_field :details, :value => ""  %>
      <% end %>
    </div>
    <%=f.error_span(:constitution_option_id) %>
  </div>
  <div class="form-group ">


      <%= f.fields_for :examination_results do |examination_result| %>
        <%= render 'examination_result_fields', :f => examination_result %>
        <%= link_to_add_association 'ДОБАВИТЬ РЕЗУЛЬТАТ ОБСЛЕДОВАНИЯ', f, :examination_results %>
      <% end %>

    <%=f.error_span(:general_state_option_id) %>
  </div>

  <div class="form-group" >
    <%= f.label "Дополнительные рекомендации", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :recommendations, :class => 'form-control' %>
    </div>
    <%=f.error_span(:next) %>
  </div>

  <div class="form-group" >
    <%= f.label "Следующее посещение", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :next, {order: [:day, :month, :year], prompt: { day: 'День', month: 'Месяц', year: 'Год' }, start_year: Date.today.year, end_year: Date.today.year + 10}, {required: false, :class => 'form-control'} %>
    </div>
    <%=f.error_span(:next) %>
  </div>

  <div class="form-group" >
    <%= fields_for @final_diagnosis_list do |l| %>
      <%= l.hidden_field :doctor_id, :value => @doctor.id  %>
      <%= l.hidden_field :patient_id, :value => @patient.id  %>
      <%=  link_to 'ДОБАВИТЬ ДИАГНОЗ В СПИСОК ЗАКЛЮЧИТЕЛЬНЫХ ДИАГНОЗОВ', doctor_patient_visits_new_add_final_diagnosis_path(@patient, @doctor),  l: l , remote: true,  :id => 'list' %>
    <div id = "add-final-diagnosis"></div>
    <% end %>
    <br>

    <%= fields_for @dispanserisation do |d| %>
      <%= d.hidden_field :doctor_id, :value => @doctor.id  %>
      <%= d.hidden_field :patient_id, :value => @patient.id  %>
      <%=  link_to 'ДОБАВИТЬ ЗАБОЛЕВАНИЯ, ПОДЛЕЖАЩИЕ ДИСПАНСЕРНОМУ НАБЛЮДЕНИЮ', doctor_patient_visits_new_add_dispanserisation_path(@patient, @doctor),  d: d , remote: true %>
    <div id = "dispanserisation"></div>
    <% end %>
    <br>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Создать", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => "Отмена"),
                doctor_patient_visits_path(@doctor, @patient), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script>
$.fn.select2.defaults.set('language', 'ru');
$(document).ready(function() {
    $('#visit_complaint_list')
        .select2( {
            theme: "bootstrap",
            tags: true,
            language: "ru",
            tokenSeparators: [',', ' '],
            tags: []
        })
        .end();
});
</script>
<script>
$.fn.select2.defaults.set('language', 'ru');
$(document).ready(function() {
    // $('#visit_primary_diagnosis_visits_primary_diagnosis_ids')
    //   .select2( {
    //       tags: true,
    //       createTag: function(params) {
    //           return undefined;
    //      }
    //   });


      $("#primary_select2").select2({
        tags: true,
        createTag: function(params) {
            return undefined;
        },
        placeholder: "Начините набирать название",
        minimumInputLength: 3,
        language: "ru",
        ajax: {
          url: "/diagnoses.json",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term
            };
          },
          processResults: function (data) {
            return {
              results: data
            }
          },
          cache: true
        },
        formatResult: function (post) {
            markup = '<strong>' + post.text + '</strong>';
        }
      });
      $("#concomitant_select2").select2({
        tags: true,
        createTag: function(params) {
            return undefined;
        },
        placeholder: "Начините набирать название",
        minimumInputLength: 3,
        language: "ru",
        ajax: {
          url: "/diagnoses.json",
          dataType: 'json',
          delay: 250,
          language: "ru",
          data: function (params) {
            return {
              q: params.term
            };
          },
          processResults: function (data) {
            return {
              results: data
            }
          },
          cache: true
        },
        formatResult: function (post) {
            markup = '<strong>' + post.text + '</strong>';
        }
      });
      $("#complication_select2").select2({
        tags: true,
        createTag: function(params) {
            return undefined;
        },
        placeholder: "Начините набирать название",
        minimumInputLength: 3,
        language: "ru",
        ajax: {
          url: "/diagnoses.json",
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term
            };
          },
          processResults: function (data) {
            return {
              results: data
            }
          },
          cache: true
        },
        formatResult: function (post) {
            markup = '<strong>' + post.text + '</strong>';
        }
      });

    // $('#visit_concomitant_diagnosis_visits_concomitant_diagnosis_ids')
    //   .select2( {
    //       tags: true,
    //           createTag: function(params) {
    //               return undefined;}
    //   });
    // $('#visit_complication_diagnosis_visits_complication_diagnosis_ids')
    //   .select2( {
    //       tags: true,
    //           createTag: function(params) {
    //               return undefined;}
    //   });
    $('#complaints')
    .select2( {
        tags: true, width: '100%',
        language: "ru"
    });

    $("#teens_select2").select2({
      placeholder: "Начините набирать название",
      minimumInputLength: 3,
      language: "ru",
      ajax: {
        url: "/medicines.json",
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term
          };
        },
        processResults: function (data) {
          return {
            results: data
          }
        },
        cache: true
      },
      formatResult: function (post) {
          markup = '<strong>' + post.text + '</strong>';
      }
    })
  });

  $(function() {
      $('.form-group').on('cocoon:after-insert', function() {
        //alert("1");
        $("#teens_select2").select2({
          placeholder: "Начините набирать название",
          minimumInputLength: 3,
          language: "ru",
          ajax: {
            url: "/medicines.json",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                q: params.term
              };
            },
            processResults: function (data) {
              return {
                results: data
              }
            },
            cache: true
          },
          formatResult: function (post) {
              markup = '<strong>' + post.text + '</strong>';
          }
        })
      });
    });

    // hack for iPhone 7.0.3 multiselects bug
    if(navigator.userAgent.match(/iPhone/i)) {
        $('.bug').each(function(){
            var select = $(this).on({
                "focusout": function(){
                    var values = select.val() || [];
                    setTimeout(function(){
                        select.val(values.length ? values : ['']).change();
                    }, 1000);
                }
            });
            var firstOption = '<option value="" disabled="disabled"';
            firstOption += (select.val() || []).length > 0 ? '' : ' selected="selected"';
            firstOption += '>«Выберите нужные пункты»';
            firstOption += '</option>';
            select.prepend(firstOption);
        });
    }

</script>
