<%= form_for ([@doctor, @patient, @visit]), method: :post, :html => { :multipart => true }, :url => {:controller => 'visits', :action => 'create'}   do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :doctor_id, :value => @doctor.id  %>
  <%= f.hidden_field :patient_id, :value => @patient.id  %>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>
  
  <div class="field">
    <%= f.label :complaints %><br>
    <%= f.text_field :complaints %>
  </div>
  <div class="field">
    <%= f.label :anamnesis %><br>
    <%= f.text_field :anamnesis %>
  </div>
  <div class="field">
    <%= f.label :allerg %><br>
    <%= f.text_field :allerg %>
  </div>
  <div class="field">
    <%= f.label :general_state %><br>
    <%= f.text_field :general_state %>
  </div>
  <div class="field">
    <%= f.label :diagnosis %><br>
    <%= f.text_field :diagnosis %>
  </div>
  <div class="field">
    Телосложение: <%= f.collection_select :constitution_option_id, ConstitutionOption.all, :id, :name %>
  </div>
  <div class="field">
    Телосложение: <%= f.collection_select :general_state_option_id, GeneralStateOption.all, :id, :name %>
  </div>
  <div class="field">
    Телосложение: <%= f.collection_select :effleurage_option_id, EffleurageOption.all, :id, :name %>
  </div>
  <div class="field">
    Телосложение: <%= f.collection_select :postural_pose_option_id, PosturalPoseOption.all, :id, :name %>
  </div>
  <div class="field">
    Телосложение: <%= f.collection_select :subcutanious_fat_option_id, SubcutaniousFatOption.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.fields_for :consultations do |s| %>
      Консультация <%= s.collection_select(:specialist_ids, Specialist.all, :id, :name, {:include_hidden => false}, :multiple => true) %>
    <% end %>  
  </div>
  
  <div class="field">
    <% ConditionType.all.each do |type| %>
      <% ConditionName.all.each do |v| %>
        <% if ConditionName.find_by(:name => v.name, :condition_type_id => type.id) %>
          <%= f.fields_for :condition_visits do |s| %>
            <%= v.name %> <%= s.collection_select(:condition_value_ids, ConditionName.find_by(:name => v.name, :condition_type_id => type.id).condition_values, :id, :name, {:include_hidden => false}, :multiple => true) %>
            Дополнительно <%= s.text_field :details %>
          <% end %>
        <% end %> 
        <br>
      <% end %>
      <hr>
    <% end %>  
  </div>

  <div class="field">
    <%= f.fields_for :primary_diagnosis_visits do |s| %>
        Диагноз <%= s.collection_select(:diagnosis_ids, Diagnosis.all, :id, :name, {:include_hidden => false}, :multiple => true) %>
    <% end %>  
  </div>
  <div class="field">
    <%= f.fields_for :concomitant_diagnosis_visits do |s| %>
        Диагноз <%= s.collection_select(:diagnosis_ids, Diagnosis.all, :id, :name, {:include_hidden => false}, :multiple => true) %>
    <% end %>  
  </div>
  <div class="field">
    <%= f.fields_for :complication_diagnosis_visits do |s| %>
        Диагноз <%= s.collection_select(:diagnosis_ids, Diagnosis.all, :id, :name, {:include_hidden => false}, :multiple => true) %>
    <% end %>  
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
