
<%= f.label "Медикаментозное лечение", :class => 'control-label col-lg-2' %>
<div class="col-lg-10">
  <div class="form-group nested-fields well" >
    <%= f.hidden_field :_destroy, :class => 'removable' %>
    <%= f.label "Медикаментозное лечение", :class => 'control-label ' %>

    <!-- <select id="teens_select2" id = "visit[consultations][medicine_id]", class = 'form-control'>
      <option value="3620194" selected="selected">select2/select2</option>
    </select> -->

    <%#= f.collection_select(:medicine_id, Medicine.get_empty_list, :id, :name, {}, {:type => 'hidden', :multiple => false, :class => 'form-control', :id => 'teens_select2'}) %>

    <br>
    <%#= f.label "Дополнительно", :class => 'control-label ' %>
    <%= f.text_field :details, :class => 'form-control' %>
    <%= f.label "Дозировка", :class => 'control-label ' %>
    <%= f.text_field :dosage, :class => 'form-control' %>
    <%= f.label "Длительность", :class => 'control-label ' %>
    <%= f.text_field :duration, :class => 'form-control' %>
    <%= link_to_remove_association " Удалить ", f, :class => 'control-label' %>
  </div>
</div>
