<%- model_class = Visit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
<%= print_report(ReportItem.roots.first, 0) %>
</table>

<%= search_form_for @q, url: doctor_visits_path do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c%>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<h2><%= @q.result.count %><% @all = @q.result.count %></h2>
<%= link_to 'Добавить к отчету', doctor_visits_add_to_report_path, :method => :post, remote: true %>
<div id = "testdiv"><h3></h3></div>
<%= link_to 'Очистить', doctor_visits_build_report_path, :method => :get, remote: true %>
<div id = "report"><h3></h3></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:complaints) %></th>
      <th><%= model_class.human_attribute_name(:anamnesis) %></th>
      <th><%= model_class.human_attribute_name(:allerg) %></th>
      <th><%= model_class.human_attribute_name(:general_state) %></th>
      <th><%= model_class.human_attribute_name(:diagnosis) %></th>
      <th><%= model_class.human_attribute_name(:doctor_id) %></th>
      <th><%= model_class.human_attribute_name(:patient_id) %></th>
      <th><%= model_class.human_attribute_name(:constitution_option_id) %></th>
      <th><%= model_class.human_attribute_name(:general_state_option_id) %></th>
      <th><%= model_class.human_attribute_name(:postural_pose_option_id) %></th>
      <th><%= model_class.human_attribute_name(:subcutanious_fat_option_id) %></th>
      <th><%= model_class.human_attribute_name(:effleurage_option_id) %></th>
      <th><%= model_class.human_attribute_name(:from_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:treatment_factor) %></th>
      <th><%= model_class.human_attribute_name(:primary_diagnosis) %></th>
    </tr>
  </thead>
  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to visit.id, doctor_patient_visit_path(@doctor,visit.patient,visit) %></td>
        <td><ul>
            <% visit.complaints.each do |complaint| %>
              <li><%= complaint %></li>
            <% end %>
          </ul></td>
        <td><%= visit.anamnesis %></td>
        <td><%= visit.allerg %></td>
        <td><%= visit.general_state %></td>
        <td><%= visit.diagnosis %></td>
        <td><%= visit.doctor_id %></td>
        <td><%= visit.patient_id %></td>
        <td><%= visit.constitution_option_id %></td>
        <td><%= visit.general_state_option_id %></td>
        <td><%= visit.postural_pose_option_id %></td>
        <td><%= visit.subcutanious_fat_option_id %></td>
        <td><%= visit.effleurage_option_id %></td>
        <td><%= visit.from_id %></td>
        <td><%=l visit.created_at %></td>
        <td>
          <ul>
            <% visit.treatment_factors.each do |treatment_factor| %>
              <li><%= treatment_factor.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% visit.primary_diagnoses.each do |primary_diagnosis| %>
              <li><%= primary_diagnosis.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
