<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @visit.from %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.created_at %>
</p>

<p>
  <strong>Complaints:</strong>
  <%= @visit.complaints %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @visit.diagnosis %>
</p>

<p>
  <strong>doctor:</strong>
  <%= @visit.doctor_id %>
</p>

<p>
  <strong>patient:</strong>
  <%= @visit.patient_id %>
</p>

<p>
  <strong>консультация:</strong>
  <% if @visit.consultations.first %>
  	<%= @visit.consultations.first.specialist.name %>
  <% end %>
</p>

<p>
  <strong>condition names:</strong>
  <% if @visit.condition_visits.first %>
	  <% @visit.condition_visits.each do |v| %>
	  	<%= v.condition_value.name %>
	  	<br>
	  <% end %>	
  <% end %>
</p>

<p>
  <strong>диагноз:</strong>
  <% if @visit.primary_diagnosis_visits.first %>
    <%= @visit.primary_diagnosis_visits.first.primary_diagnosis.name %>
  <% end %>
</p>

<p>
  <strong>лечение:</strong>
  <% if @visit.treatments.first %>
    <%= @visit.treatments.first.treatment_factor.name %>
  <% end %>
</p>

<%= params.inspect %>