<%- model_class = Visit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:complaints) %>:</strong></dt>
  <dd><%= @visit.complaints %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anamnesis) %>:</strong></dt>
  <dd><%= @visit.anamnesis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allerg) %>:</strong></dt>
  <dd><%= @visit.allerg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:general_state) %>:</strong></dt>
  <dd><%= @visit.general_state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diagnosis) %>:</strong></dt>
  <dd><%= @visit.diagnosis %></dd>
  <dt><strong><%= model_class.human_attribute_name(:doctor_id) %>:</strong></dt>
  <dd><%= @visit.doctor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @visit.patient_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:constitution_option_id) %>:</strong></dt>
  <dd><%= @visit.constitution_option_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:general_state_option_id) %>:</strong></dt>
  <dd><%= @visit.general_state_option_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postural_pose_option_id) %>:</strong></dt>
  <dd><%= @visit.postural_pose_option_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subcutanious_fat_option_id) %>:</strong></dt>
  <dd><%= @visit.subcutanious_fat_option_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:effleurage_option_id) %>:</strong></dt>
  <dd><%= @visit.effleurage_option_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_id) %>:</strong></dt>
  <dd><%= @visit.from_id %></dd>
  <% ConditionType.all.each do |type| %>
    <dt><strong> <%= type.name %> </strong></dt>
    <% ConditionName.all.each do |v| %>
      <% if ConditionName.find_by(:name => v.name, :condition_type_id => type.id) %>
        <dt><%= v.name %></dt>
        
        <% @values = ConditionName.find_by(:name => v.name, :condition_type_id => type.id).condition_values %>
        <% if @values.any? %>
          <dd>
            <% ConditionName.find_by(:name => v.name, :condition_type_id => type.id).condition_values.each do |value| %>
               <% if ConditionVisit.find_by(:condition_value_id => value.id, :visit_id => @visit.id) %>
                <b><%= value.name %></b> <br>
                <% @condition_value_details = ConditionVisit.find_by(:condition_value_id => value.id, :visit_id => @visit.id).details %>
               <% else %>
                <%= value.name %> <br> 
                <% @condition_value_details = nil %>
               <% end %>  
            <% end %>  
          </dd>
          <% if @condition_value_details %>
            <dd><%= @condition_value_details %></dd>
          <% end %>  
          <% else  %>
            <dd> - </dd>
        <% end %> 

          <!-- <br> -->
      <% end %> 
    <% end %>
    <!-- <hr> -->
  <% end %> 
  <dt><strong><%= model_class.human_attribute_name(:primary_diagnosis) %>:</strong></dt>
  <dd>
    <% if @visit.primary_diagnoses.any? %>
      <% @visit.concomitant_diagnoses.each do |pd| %>
        <%= pd.name %><br>
      <% end %>
      <dd><%= @visit.primary_diagnosis_visits.first.details %> </dd>  
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:concomitant_diagnosis) %>:</strong></dt>
  <dd>
    <% if @visit.concomitant_diagnoses.any? %>
      <% @visit.concomitant_diagnoses.each do |pd| %>
        <%= pd.name %><br>
      <% end %>
      <dd><%= @visit.concomitant_diagnosis_visits.first.details %> </dd>  
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:complication_diagnosis) %>:</strong></dt>
  <dd>
    <% if @visit.complication_diagnoses.any? %>
      <% @visit.complication_diagnoses.each do |pd| %>
        <%= pd.name %><br>
      <% end %>
      <dd><%= @visit.complication_diagnosis_visits.first.details %> </dd>  
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:treatment) %>:</strong></dt>
  <dd>
     <% if @visit.treatments.any? %>
      <% @visit.treatments.each do |t| %>
        <%= t.treatment_factor.name %><br>
        <dd><%= t.amount %></dd>
        <dd><%= t.details %></dd>
      <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:medication) %>:</strong></dt>
  <dd>
     <% if @visit.medications.any? %>
      <% @visit.medications.each do |m| %>
        <%= m.medicine.name %>
        <%= m.dosage %>
        <dd><%= m.details %></dd>
        <%= m.duration %>
      <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:consultation) %>:</strong></dt>
  <dd>
     <% if @visit.consultations.any? %>
      <% @visit.consultations.each do |c| %>
        <%= c.specialist.name %> 
      <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:examintaion) %>:</strong></dt>
  <dd>
    <% @exs = Array.new %>
    <% @exs = ExaminationResult.where(:visit_id => @visit.id, :result => nil).limit(nil) %>
    <% if @exs.any? %>
      <% @exs.each do |e| %>
        <%= e.name %> 
        <%= e.details %>
      <% end %>
    <% end %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:examintaion) %>:</strong></dt>
  <dd>
    <% @exs = Array.new %>
    <% @except = Array.new %>
    <% @exs =  ExaminationResult.where(:visit_id => @visit.id).limit(nil) %>
    <% @except = ExaminationResult.where(:visit_id => @visit.id, :result => nil).limit(nil) %>
    <% @exs -= @except %>
    <% if @exs.any? %>
      <% @exs.each do |e| %>
        <%= e.name %> 
        <%= e.details %>
        <%= e.result %>
      <% end %>
    <% end %>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              doctor_patient_visits_path(@doctor, @patient), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_doctor_patient_visit_path(@doctor, @patient, @visit), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              doctor_patient_visit_path(@doctor, @patient, @visit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
