<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @visit.from %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.created_at %>
</p>

<p>
  <strong>Complaints:</strong>
  <%= @visit.complaints %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @visit.diagnosis %>
</p>

<p>
  <strong>doctor:</strong>
  <%= @visit.doctor_id %>
</p>

<p>
  <strong>patient:</strong>
  <%= @visit.patient_id %>
</p>

<p>
  <strong>liver:</strong>
  <%= @visit.liver_condition_visits.first.liver_condition.name %>
</p>

<p>
  <strong>живот:</strong>
  <%= @visit.abdominal_condition_visits.first.abdominal_condition.name %>
</p>

<%= params.inspect %>