<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @visit.from %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.created_at %>
</p>

<p>
  <strong>Complaints:</strong>
  <%= @visit.complaints %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @visit.diagnosis %>
</p>