<%- model_class = Visit -%>
<div class="page-header">
  <h1><%=t '.title', :default => @visit.created_at.strftime("%d.%m.%Y") %></h1>
</div>

    <h4>Дата:</h4>
   <%=@visit.created_at.strftime("%d.%m.%Y")%> <br>

   <h4><%= t(:from) %>:</h4>
    <%= @visit.from.name if @visit.from %> <br>
   <h4><%= t(:an_morbi) %>: </h4>
    <%= @visit.an_morbi %> <br>
   <h4><%= t(:complaints) %>: </h4>
   <% @visit.complaints.each do |c| %> <%= c.name %>&emsp;<% end %> <br><br>
   <h4><%= t(:condition) %>: </h4>

    <br>

    <% AnamnesisType.all.each do |type| %>
      <h5><%= type.name %>:</h5>
      <% AnamnesisName.all.each do |name| %>
        <% if AnamnesisName.find_by(:name => name.name, :anamnesis_type_id => type.id) %>
          <% if name.name != type.name %>
            <%= name.name %>:
          <% end %>
          <% @values = AnamnesisName.find_by(:name => name.name, :anamnesis_type_id => type.id).anamnesis_values %>

          <% if @values.any? %>

            <% value_count = 0 %>
            <% if @values.count == 1 && @values.first.name == "" && AnamnesisVisit.find_by(:anamnesis_value_id => AnamnesisValue.find_by(anamnesis_name_id: name.id).id, :visit_id => @visit.id) %>
              <% #dfghj %>
              <%= AnamnesisVisit.find_by(:anamnesis_value_id => AnamnesisValue.find_by(anamnesis_name_id: name.id).id, :visit_id => @visit.id).details %>
              <% value_count -= 1 %>
            <% else %>

              <% @anamnesis_value_details = "" %>
              <% @values.each do |value| %>

                <% if AnamnesisVisit.find_by(:anamnesis_value_id => value.id, :visit_id => @visit.id) %>

                  <%= value.name %>
                  <% @anamnesis_value_details = AnamnesisVisit.find_by(:anamnesis_value_id => value.id, :visit_id => @visit.id).details %>

                  <% value_count += 1 %>
                <% end %>
              <% end %>

              <% if @anamnesis_value_details != "" %>
                (<%= @anamnesis_value_details %>)
              <% end %>
              <% if value_count == 0 %>
                -
              <% end %>

            <% end %>

            <br>
              <!-- <br> -->
          <% end %>
        <% end %>
      <% end %>
    <br>
    <!-- <hr> -->
  <% end %>

  <br><h4>Status Praesens</h4><br>

   <%= t(:general_state_option) %>:
    <%=@visit.general_state_option.name if @visit.general_state_option %> <br>
   <%= t(:constitution_option) %>:
    <%=@visit.constitution_option.name if @visit.constitution_option %> <br>
   <%= t(:general_state_option) %>:
    <%=@visit.general_state_option.name if @visit.general_state_option %> <br>
   <%= t(:postural_pose_option) %>:
    <%=@visit.postural_pose_option.name if @visit.postural_pose_option %> <br>



    <% ConditionType.all.each do |type| %>
      <h5><%= type.name %>:</h5>
      <% ConditionName.all.each do |name| %>
        <% if ConditionName.find_by(:name => name.name, :condition_type_id => type.id) %>
          <% if name.name != type.name %>
            <%= name.name %>:
          <% end %>
          <% @values = ConditionName.find_by(:name => name.name, :condition_type_id => type.id).condition_values %>

          <% if @values.any? %>

            <% value_count = 0 %>
            <% if @values.count == 1 && @values.first.name == "" && ConditionVisit.find_by(:condition_value_id => ConditionValue.find_by(condition_name_id: name.id).id, :visit_id => @visit.id) %>
              <% #dfghj %>
              <%= ConditionVisit.find_by(:condition_value_id => ConditionValue.find_by(condition_name_id: name.id).id, :visit_id => @visit.id).details %>
              <% value_count -= 1 %>
            <% else %>

              <% @condition_value_details = "" %>
              <% @values.each do |value| %>

                <% if ConditionVisit.find_by(:condition_value_id => value.id, :visit_id => @visit.id) %>

                  <%= value.name %>
                  <% @condition_value_details = ConditionVisit.find_by(:condition_value_id => value.id, :visit_id => @visit.id).details %>

                  <% value_count += 1 %>
                <% end %>
              <% end %>

              <% if @condition_value_details != "" %>
                (<%= @condition_value_details %>)
              <% end %>
              <% if value_count == 0 %>
                -
              <% end %>

            <% end %>

            <br>
              <!-- <br> -->
          <% end %>
        <% end %>
      <% end %>
    <br>
    <!-- <hr> -->
  <% end %>

   <h4><%= t(:primary_diagnosis) %>: </h4>

    <% if @visit.primary_diagnoses.any? %>
      <% @visit.primary_diagnoses.each do |pd| %>
        <%= pd.name %>,
      <% end %>
      <% if @visit.primary_diagnosis_visits.first.details && @visit.primary_diagnosis_visits.first.details != "" %>
        (<%= @visit.primary_diagnosis_visits.first.details %>)
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:concomitant_diagnosis) %>: </h4>

    <% if @visit.concomitant_diagnoses.any? %>
      <%@visit.concomitant_diagnoses.each do |pd| %>
        <%= pd.name %>,
      <% end %>
      <% if @visit.concomitant_diagnosis_visits.first.details && @visit.concomitant_diagnosis_visits.first.details != "" %>
        (<%= @visit.concomitant_diagnosis_visits.first.details %>)
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:complication_diagnosis) %>: </h4>

    <% if @visit.complication_diagnoses.any? %>
      <%@visit.complication_diagnoses.each do |pd| %>
        <%= pd.name %>,
      <% end %>
      <% if @visit.complication_diagnosis_visits.first.details &&  @visit.complication_diagnosis_visits.first.details != ""%>
        (<%= @visit.complication_diagnosis_visits.first.details %>)
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:treatment) %>: </h4>

   <% if @visit.treatments.any? %>
    <%@visit.treatments.each do |t| %>
      <%= t.treatment_factor.name if t.treatment_factor %>
      <%= t.amount %>
      <% if t.details && t.details != "" %>
        (<%= t.details %>)
      <% end %>
    <% end %>
  <% end %>
   <br>
   <h4><%= t(:medication) %>: </h4>

     <% if@visit.medications.any? %>
      <%@visit.medications.each do |m| %>
        <%= m.medicine.name if m.medicine %>
        <%= m.dosage %>
        <% if m.details %>
          <%= m.details %>
        <% end %>
        <%= m.duration %>
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:consultation) %>: </h4>

     <% if @visit.consultations.any? %>
      <%@visit.consultations.each do |c| %>
        <%= c.specialist.name if c.specialist %>
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:examination) %>: </h4>

    <% @exs = Array.new %>
    <% @exs = ExaminationResult.where(:visit_id =>@visit.id, :result => nil).limit(nil) %>
    <% if @exs.any? %>
      <% @exs.each do |e| %>
        <%= e.examination.name if e.examination %>
        <% if e.details && e.details != "" %>
          (<%= e.details %>)
        <% end %>
      <% end %>
    <% end %>
   <br>
   <h4><%= t(:examination_result) %>: </h4>

    <% @exs = Array.new %>
    <% @except = Array.new %>
    <% @exs =  ExaminationResult.where(:visit_id =>@visit.id).limit(nil) %>
    <% @except = ExaminationResult.where(:visit_id =>@visit.id, :result => nil).limit(nil) %>
    <% @exs -= @except %>
    <% if @exs.any? %>
      <% @exs.each do |e| %>
        <%= e.examination.name if e.examination %>
        <%= e.result %>
        <% if e.details && e.details != "" %>
          (<%= e.details %>)
        <% end %>
      <% end %>
    <% end %>
   <br>
   Следующее посещение: <%= @visit.next.strftime("%d.%m.%Y") if @visit.next %>
   <br>

<%= link_to t('.back', :default => "Назад"),
              doctor_patient_path(@doctor, @patient), :class => 'btn btn-default'  %>

<hr>
