<%= form_for ([@doctor, @patient]), :html => { :multipart => true }, :url => {:controller => 'patients', :action => 'create'}  do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- 
<%= f.hidden_field :doctor_id, :value => @doctor.id  %> -->

<table>
  <tr>
    <div class="field">
      <td>Фамилия</td> 
      <td><%= f.text_field :name %></td>
    </div>
  </tr>

  <tr>
  <div class="field">
    <td>Имя</td>
    <td><%= f.text_field :surname %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Отчество</td>
    <td><%= f.text_area :second_name %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Пол</td>
    <td><%= f.text_field :gender %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Дата рождения</td>
    <td><%= f.text_field :birthday %></td>
  </div>
  </tr>


  <tr>
  <div class="field">
    <td>Адрес</td>
    <td><%= f.text_field :address %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Местность</td>
    <td><%= f.text_field :area %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Полис ОМС</td>
    <td>Серия <%= f.text_field :insurance_policy_series %><br>Номер <%= f.text_field :insurance_policy_number %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Наименование страховои медицинскои организации</td>
    <td><%= f.text_field :insurance_company %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Код категории льготы</td>
    <td><%= f.text_field :social_benefit_code %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Документ</td>
    <td><%= f.text_field :document_name %> Серия <%= f.text_field :document_series %><br> Номер <%= f.text_field :document_number %></td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Семейное положение</td>
    <td><%= f.text_field :martial_status %> </td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Образование</td>
    <td><%= f.text_field :education %> </td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Занятость</td>
    <td><%= f.text_field :employment %> </td>
  </div>
  </tr>

  <tr>
  <div class="field">
    <td>Инвалидность</td>
    <td>Группа <%= f.text_field :disability %> <br>Первичная/повторная <%= f.text_field :disability_time %><br> Дата<br> <%= f.text_field :disability_date %> </td>
  </div>
  </tr>

  
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
