<%- model_class = Patient -%>
<div class="page-header">
  <h1>Пациенты</h1>
</div>

<%= search_form_for @q, url: doctor_patients_path(@doctor) do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c%>
  <% end %>
  <p><%= link_to_add_fields "Добавить условие", f, :condition %>
  <div class="actions"><%= f.submit "Поиск", {:class => "btn"} %></div>
<% end %>
<br>
<div style = "overflow-x: auto; width: 100%">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t(:name) %></th>
        <th><%= t(:gender) %></th>
        <th><%= t(:birthday) %></th>
        <th><%= t(:phone) %></th>
        <th><%= t(:insurance_certificate) %></th>
        <th><%= t(:insurance_policy_series) %></th>
        <th><%= t(:insurance_policy_number) %></th>
        <th><%= t(:document_name) %></th>
        <th><%= t(:document_series) %></th>
        <th><%= t(:document_number) %></th>
        <th><%= t(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.name, doctor_patient_path(@doctor, patient)  %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.birthday.strftime("%d.%m.%Y") if patient.birthday %></td>
          <td><%= patient.phone %></td>
          <td><%= patient.insurance_certificate %></td>
          <td><%= patient.insurance_policy_series %></td>
          <td><%= patient.insurance_policy_number %></td>
          <td><%= patient.document_name.first %></td>
          <td><%= patient.document_series %></td>
          <td><%= patient.document_number %></td>
          <td><%= patient.created_at.strftime("%d.%m.%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_doctor_patient_path(@doctor),
            :class => 'btn btn-primary' %>
