<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => @patient.name %></h1>
</div>

<%= link_to t('.back', :default => "Назад"),
              doctor_patients_path(@doctor), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => "Новое посещение"),
              new_doctor_patient_visit_path(@doctor, @patient), :class => 'btn btn-default' %>
<%= link_to 'Получить карту в PDF', doctor_patient_generate_pdf_path(:patient_id=>@patient.id, format: :pdf, :method => :get)%>
<hr>

<dl class="dl-horizontal">
  <dt><strong><%= t :name %>:</strong></dt>
  <dd><%= @patient.name %></dd>
  <dt><strong><%= t(:gender) %>:</strong></dt>
  <dd><%= t @patient.gender if @patient.gender %></dd>
  <dt><strong><%= t(:birthday) %>:</strong></dt>
  <dd><%= @patient.birthday %></dd>
  <dt><strong><%= t(:address) %>:</strong></dt>
  <dd><%= @patient.address %></dd>
  <dt><strong><%= t(:phone) %>:</strong></dt>
  <dd><%= @patient.phone %></dd>
  <dt><strong><%= t(:area) %>:</strong></dt>
  <dd><%= t @patient.area if @patient.area %></dd>
  <dt><strong><%= t(:insurance_policy_series) %>:</strong></dt>
  <dd><%= @patient.insurance_policy_series %></dd>
  <dt><strong><%= t(:insurance_policy_number) %>:</strong></dt>
  <dd><%= @patient.insurance_policy_number %></dd>
  <dt><strong><%= t(:insurance_company) %>:</strong></dt>
  <dd><%= @patient.insurance_company %></dd>
  <dt><strong><%= t(:insurance_certificate) %>:</strong></dt>
  <dd><%= @patient.insurance_certificate %></dd>
  <% if @patient.social_benefit_code && @patient.social_benefit_code != "" %>
  <dt><strong><%= t(:social_benefit_code) %>:</strong></dt>
    <dd><%= t(@patient.social_benefit_code)%> (<%= SocialBenefit.find_by(code: @patient.social_benefit_code.to_i).name %>)</dd>
  <% end %>
  <dt><strong><%= t(:document_name) %>:</strong></dt>
  <dd><%= @patient.document_name.each.first %></dd>
  <dt><strong><%= t(:document_series) %>:</strong></dt>
  <dd><%= @patient.document_series %></dd>
  <dt><strong><%= t(:document_number) %>:</strong></dt>
  <dd><%= @patient.document_number %></dd>
  <dt><strong><%= t(:martial_status) %>:</strong></dt>
  <dd><%= t @patient.martial_status if @patient.martial_status %></dd>
  <dt><strong><%= t(:education) %>:</strong></dt>
  <dd><%= t(@patient.education) if @patient.education %></dd>
  <dt><strong><%= t(:employment) %>:</strong></dt>
  <dd><%= t @patient.employment if @patient.employment %></dd>
  <% if !@patient.disability %>
    <dt><strong><%= t(:disability) %>:</strong></dt>
    <dd> -</dd>
    <dt><strong><%= t(:disability_time) %>:</strong></dt>
    <dd> -</dd>
    <dt><strong><%= t(:disability_date) %>:</strong></dt>
    <dd> -</dd>
  <% else %>
    <dt><strong><%= t(:disability) %>:</strong></dt>
    <dd><%= t @patient.disability %></dd>
    <dt><strong><%= t(:disability_time) %>:</strong></dt>
    <dd><%= t @patient.disability_time if @patient.disability_time %></dd>
    <dt><strong><%= t(:disability_date) %>:</strong></dt>
    <dd><%= @patient.disability_date %></dd>
  <% end %>
  <dt><strong><%= t(:work_place) %>:</strong></dt>
  <dd><%= @patient.work_place %></dd>
  <dt><strong><%= t(:work_position) %>:</strong></dt>
  <dd><%= @patient.work_position %></dd>
  <dt><strong><%= t(:blood_type) %>:</strong></dt>
  <dd><%= @patient.blood_type %></dd>
  <dt><strong><%= t(:Rh_factor) %>:</strong></dt>
  <dd><%= t @patient.Rh_factor if @patient.Rh_factor %></dd>

</dl>

