<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<% if @patient.visits.any? %>
      <h3>Visits (<%= @patient.visits.count %>)</h3>
      <ol class="visits">
        <%= render @visits %>
      </ol>
<% else %>
      <h3>No Visits </h3>
<% end %>