
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @doctor.username %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>

<div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>

<% if @doctor.patients.any? %>
      <h3>Patients (<%= @doctor.patients.count %>)</h3>
      <ol class="patients">
        <%= render @patients %>
      </ol>
<% else %>
      <h3>No Patients </h3>
<% end %>

<button><%= link_to "Новый пациент",  new_doctor_patient_path(@doctor.id) %></button>

