<%= form_for(@general_state_option) do |f| %>
  <% if @general_state_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_state_option.errors.count, "error") %> prohibited this general_state_option from being saved:</h2>

      <ul>
      <% @general_state_option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
