<%= form_for(@treatment_factor) do |f| %>
  <% if @treatment_factor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@treatment_factor.errors.count, "error") %> prohibited this treatment_factor from being saved:</h2>

      <ul>
      <% @treatment_factor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
